<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies API</title>
  </head>
  <body>
    <h1 id= "app">Movies API</h1>
    <div id="container"></div>
    <script src="~/dist/bundle.js"></script>
  </body>
</html>